{
    "singleQuote": true,
    "printWidth": 100,
    "semi": false,
    "trailingComma": "all",
    "tabWidth": 2,
    "arrowParens": "avoid",
    "useTabs": true, 
    "bracketSpacing": true,
    "jsxBracketSameLine": false
}

